<div id="department-tab-{{ department.id }}" class="tab-pane fade {% if is_first %} active show {% endif %}" role="tabpanel">
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <div class="card-title">{{ department.department_name }}</div>
        </div>
    </div>
    <div class="row">
        {% for employee in department.employees %}
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="profile-photo">
                                <img src="{{ employee.user.profile_picture.url }}" style="height: 100px; width: 100px;object-fit: cover;" class="img-fluid rounded-circle" alt="">
                            </div>
                            <h3 class="mt-4 mb-1">{{ employee.user.full_name }}</h3>
                            <p class="text-muted">{{ employee.post }}</p>
                            <a class="btn btn-xs btn-outline-primary btn-rounded mt-3 px-5" href="{% url 'organization:employee_detail' employee.pk %}">View detail</a>
                        </div>
                    </div>

                    <div class="card-footer pt-0 pb-0 text-center">
                        <div class="row">
                            <div class="col-6 pt-3 pb-3 border-end">
                                <span>{{ employee.post.department }}</span>
                            </div>
                            <div class="col-6 pt-3 pb-3">
                                <span class="badge badge-lg light badge-success">Checked-In</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>