<div class="nav-header">
    <a href="{% url 'authentication:dashboard' %}" class="brand-logo" style="display: flex; align-items: center; justify-content: center;">
        

        <div class="brand-title" style="display: flex; align-items: center; justify-content: center;">
            <h1 style="color: #fff;">EMS</h1>
        </div>

    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>